FORCE_PRETTY_OUTPUT=true
COOKIE_REQUIRES_HTTPS="false"
HOST_ORIGIN="http://localhost:8124"
HOST_SECRET="motorhead's ace of spades from tony hawk pro skater 3 soundtrack"
PGURL="postgres://postgres:password@localhost/discordbot"
PORT=8124
SESSION_SECRET="If you like to gamble
I tell you, I'm your man
You win some, lose some
It's all the same to me
The pleasure is to play
Makes no difference what you say
I don't share your greed
The only card I need
Is the Ace of Spades
The Ace of Spades"

XTP_ENDPOINT="http://localhost:8080"
XTP_TOKEN="<get one of these>"
XTP_APP_ID="<get one of these>"
EXTISM_ENABLE_WASI_OUTPUT="1"

DISCORD_BOT_TOKEN="<get from discord app>"
DISCORD_BOT_CLIENT_ID="<go get one of these>"
DISCORD_GUILD_FILTER="Discord Bot Demo Server"
DISCORD_CHANNEL_FILTER="<set this to your name>"
