{% extends base %}

{% block head %}
    <style>
      body { display: flex; align-items: center; justify-content: center; }
      main { }
    </style>
{% endblock %}

{% block main %}
<div>
<h1 class="text-3xl font-bold underline">welcome!!</h1>
<p><a href="/login/github">click here</a> to login</p>
</div>
{% endblock %}
